@import url("https://fonts.googleapis.com/css2?family=Palanquin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coda&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Palanquin", sans-serif;
    background: radial-gradient(#111a27, #06090e);
    color: white;
}

nav {
    font-size: 22px;
    position: fixed;
    background-color: #203249;
    width: 100%;
    padding: 12px 32px;
    opacity: 0;
    transform: translateY(-100%);
    animation: displaynav 1s 1 2s forwards;
    z-index: 9999;
}

nav li {
    transition: text-shadow 0.15s ease-out;
}

nav li:hover {
    text-shadow: white 0 0 10px;
}

@keyframes displaynav {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

li {
    list-style-type: none;
}

nav > ul > li:first-child {
    flex: 1;
}

.name-wrapper {
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(to bottom, black, #111a27); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-wrapper > h1 {
    font-size: 108px;
}

@keyframes lightup {
    0% {
        color: #243651;
        text-shadow: none;
        border-color: #243651;
        box-shadow: none;
    }
    10% {
        color: #243651;
        text-shadow: none;
        border-color: #243651;
        box-shadow: none;
    }
    11% {
        color: white;
        text-shadow: 0 0 10px white;
        border-color: white;
        box-shadow: 0 0 5px white;
    }
    13% {
        color: #243651;
        text-shadow: none;
        border-color: #243651;
        box-shadow: none;
    }
    18% {
        color: white;
        text-shadow: 0 0 10px white;
        border-color: white;
        box-shadow: 0 0 5px white;
    }
    27% {
        color: #243651;
        text-shadow: none;
        border-color: #243651;
        box-shadow: none;
    }
    28% {
        color: white;
        text-shadow: 0 0 10px white, 0 0 20px #0084ff;
        border-color: white;
        box-shadow: 0 0 5px white;
    }
    29% {
        text-shadow: 0 0 10px white, 0 0 20px #0084ff 0 0 40px #0084ff;
        box-shadow: 0 0 5px white, 0 0 15px #0084ff;
    }
    30% {
        text-shadow: 0 0 10px white, 0 0 20px #0084ff, 0 0 40px #0084ff,
            0 0 80px #0084ff;
        box-shadow: 0 0 5px white, 0 0 15px #0084ff, 0 0 20px #0084ff;
    }
    31% {
        text-shadow: 0 0 10px white, 0 0 20px #0084ff, 0 0 40px #0084ff,
            0 0 80px #009dff, 0 0 160px #0084ff;
        box-shadow: 0 0 5px white, 0 0 15px #0084ff, 0 0 20px #0084ff;
    }
    100% {
        text-shadow: 0 0 10px white, 0 0 20px #0084ff, 0 0 40px #0084ff,
            0 0 80px #0084ff;
        box-shadow: 0 0 5px white, 0 0 15px #0084ff, 0 0 20px #0084ff,
            0 0 24px #0084ff, inset 0 0 16px #0084ff;
    }
}

.name-wrapper > h2 {
    font-size: 48px;
    font-family: "Marck Script";
    margin-top: -30px;
    word-spacing: -10px;
    text-shadow: 0 0 10px white, 0 0 20px #0084ff, 0 0 40px #0084ff,
        0 0 80px #0084ff;
    animation: lightup 5s 1;
    border: 5px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 5px white, 0 0 15px #0084ff, 0 0 20px #0084ff,
        0 0 24px #0084ff, inset 0 0 16px #0084ff;
    transform: rotate(-3deg);
}

a {
    color: white;
    text-decoration: none;
}

.project-wrapper {
    display: flex;
    align-items: center;
    margin: 40px 0;
    border: 7px solid #243651;
    border-radius: 40px;
    padding: 40px;
    transition: border-color 0.2s, box-shadow 0.2s, transform, 0.2s;
    gap: 60px;
}

.project-wrapper img {
    max-width: 240px;
    height: 135px;
}

.project-wrapper p {
    padding: 30px;
    border-radius: 20px;
}

.project-wrapper:hover {
    border-color: white;
    transform: scale(1.01);
}

.reddit:hover {
    box-shadow: 0 0 5px white, 0 0 15px red, 0 0 20px red, 0 0 24px red,
        inset 0 0 16px red;
}

.shopping:hover {
    box-shadow: 0 0 5px white, 0 0 15px #00ff99, 0 0 20px #00ff99,
        0 0 24px #00ff99, inset 0 0 16px #00ff99;
}

.battleship:hover {
    box-shadow: 0 0 5px white, 0 0 15px #ff00fb, 0 0 20px #ff00fb,
        0 0 24px #ff00fb, inset 0 0 16px #ff00fb;
}

.todo:hover {
    box-shadow: 0 0 5px white, 0 0 15px #ff8c00, 0 0 20px #ff8c00,
        0 0 24px #ff8c00, inset 0 0 16px #ff8c00;
}

h3 {
    font-size: 54px;
    text-align: center;
}

.section-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 0 100px;
}

.section-header > span {
    background-color: white;
    height: 5px;
    flex: 1;
    box-shadow: 0 0 5px white, 0 0 15px #0084ff, 0 0 20px #0084ff,
        0 0 24px #0084ff, inset 0 0 16px #0084ff;
}

p {
    font-size: 24px;
}

section {
    scroll-margin-top: 80px;
}

section > p {
    margin: 40px 160px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
textarea {
    font: inherit;
    font-size: 18px;
    padding: 10px;
    border-radius: 17px;
    outline: none;
    background-color: #203249;
    color: white;
    border: #203249 4px solid;
    transition: border 0.15s, box-shadow 0.15s;
}

input:focus,
textarea:focus {
    border: #2b99ff 4px solid;
    box-shadow: 0 0 5px white, 0 0 15px #0084ff, 0 0 20px #0084ff,
        0 0 24px #0084ff;
}

.section-content {
    margin: 40px 15%;
}

::placeholder {
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {
    color: white;
}

form button {
    align-self: flex-end;
}

/* button {
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 7px;
    background-color: yellow;
} */

button {
    color: white;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: transparent;
    background-color: #203249;
    border: 5px solid #203249;
    transition: border-color 0.1s, box-shadow 0.1s, transform 0.1s;
}

button:hover {
    border-color: white;
    box-shadow: 0 0 5px white, 0 0 15px yellow, 0 0 20px yellow;
    transform: scale(1.05);
}
