@import url("https://fonts.googleapis.com/css2?family=Palanquin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
    --lightblue: #0084ff;
    --pink: #ff00fb;
    --green: #00ff99;
    --indigo: #20005f;
    --lightoff: #243651;
    --redditorange: #ff5700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Oswald", sans-serif;
    background: radial-gradient(#111a27, #06090e);
    color: white;
    overflow-x: hidden;
}

nav {
    font-size: 22px;
    position: fixed;
    background-color: var(--indigo);
    min-width: 100%;
    padding: 12px 32px;
    opacity: 0;
    transform: translateY(-100%);
    animation: displaynav 1s 1 2s forwards;
    z-index: 9999;
    text-transform: uppercase;
}

nav li {
    transition: text-shadow 0.15s ease-out;
}

nav li:hover {
    text-shadow: white 0 0 10px;
}

@keyframes displaynav {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

li {
    list-style-type: none;
}

nav > ul > li:first-child {
    flex: 1;
}

.name-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-wrapper > h1 {
    font-size: 108px;
    text-align: center;
}

@keyframes lightup {
    0% {
        color: var(--lightoff);
        text-shadow: none;
        border-color: var(--lightoff);
        box-shadow: none;
    }
    10% {
        color: var(--lightoff);
        text-shadow: none;
        border-color: var(--lightoff);
        box-shadow: none;
    }
    11% {
        color: white;
        text-shadow: 0 0 10px white;
        border-color: white;
        box-shadow: 0 0 5px white;
    }
    13% {
        color: var(--lightoff);
        text-shadow: none;
        border-color: var(--lightoff);
        box-shadow: none;
    }
    18% {
        color: white;
        text-shadow: 0 0 10px white;
        border-color: white;
        box-shadow: 0 0 5px white;
    }
    27% {
        color: var(--lightoff);
        text-shadow: none;
        border-color: var(--lightoff);
        box-shadow: none;
    }
    28% {
        color: white;
        text-shadow: 0 0 10px white, 0 0 20px var(--lightblue);
        border-color: white;
        box-shadow: 0 0 5px white;
    }
    29% {
        text-shadow: 0 0 10px white,
            0 0 20px var(--lightblue) 0 0 40px var(--lightblue);
        box-shadow: 0 0 5px white, 0 0 15px var(--lightblue);
    }
    30% {
        text-shadow: 0 0 10px white, 0 0 20px var(--lightblue),
            0 0 40px var(--lightblue), 0 0 80px var(--lightblue);
        box-shadow: 0 0 5px white, 0 0 15px var(--lightblue),
            0 0 20px var(--lightblue);
    }
    31% {
        text-shadow: 0 0 10px white, 0 0 20px var(--lightblue),
            0 0 40px var(--lightblue), 0 0 80px #009dff,
            0 0 160px var(--lightblue);
        box-shadow: 0 0 5px white, 0 0 15px var(--lightblue),
            0 0 20px var(--lightblue);
    }
    100% {
        text-shadow: 0 0 10px white, 0 0 20px var(--lightblue),
            0 0 40px var(--lightblue), 0 0 80px var(--lightblue);
        box-shadow: 0 0 5px white, 0 0 15px var(--lightblue),
            0 0 20px var(--lightblue), 0 0 24px var(--lightblue),
            inset 0 0 16px var(--lightblue);
    }
}

.name-wrapper > h2 {
    font-size: 48px;
    font-family: "Marck Script";
    margin-top: -30px;
    word-spacing: -10px;
    text-shadow: 0 0 10px white, 0 0 20px var(--lightblue),
        0 0 40px var(--lightblue), 0 0 80px var(--lightblue);
    animation: lightup 5s 1;
    border: 5px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 5px white, 0 0 15px var(--lightblue),
        0 0 20px var(--lightblue), 0 0 24px var(--lightblue),
        inset 0 0 16px var(--lightblue);
    transform: rotate(-3deg);
}

a {
    color: white;
    text-decoration: none;
}

.project-wrapper {
    display: flex;
    align-items: center;
    margin: 80px 60px;
    gap: 60px;
}

.project-wrapper img {
    width: 800px;
    height: 450px;
    transition: box-shadow 0.2s;
}

.reddit:hover {
    box-shadow: 0 0 5px white, 0 0 15px var(--redditorange),
        0 0 20px var(--redditorange), 0 0 24px var(--redditorange),
        inset 0 0 16px var(--redditorange);
}

.shopping-cart:hover {
    box-shadow: 0 0 5px white, 0 0 15px white, 0 0 20px white, 0 0 24px white,
        inset 0 0 16px #00bee8;
}

.weather:hover {
    box-shadow: 0 0 5px white, 0 0 15px #7300ff, 0 0 20px #7300ff,
        0 0 24px #7300ff, inset 0 0 16px #7300ff;
}

.battleship:hover {
    box-shadow: 0 0 5px white, 0 0 15px #00bee8, 0 0 20px #00bee8,
        0 0 24px #00bee8, inset 0 0 16px #00bee8;
}

.fade-in {
    opacity: 0;
}

.fade-in,
.slider {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
}

.description {
    padding: 30px;
    border-radius: 20px;
}

.description h4 {
    font-size: 36px;
    text-decoration: underline;
}

.section-header h3 {
    text-transform: uppercase;
    font-size: 54px;
    text-align: center;
}

.section-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin: 40px;
}

.section-header > span {
    background-color: white;
    height: 5px;
    flex: 1;
}

#projects > .section-header > span {
    box-shadow: 0 0 5px white, 0 0 15px var(--green), 0 0 20px var(--green),
        0 0 24px var(--green), inset 0 0 16px var(--green);
}

#about > .section-header > span {
    box-shadow: 0 0 5px white, 0 0 15px var(--pink), 0 0 20px var(--pink),
        0 0 24px var(--pink), inset 0 0 16px var(--pink);
}

#contact > .section-header > span {
    box-shadow: 0 0 5px white, 0 0 15px yellow, 0 0 20px yellow, 0 0 24px yellow,
        inset 0 0 16px yellow;
}

p {
    font-size: 24px;
}

section {
    scroll-margin-top: 80px;
}

section > p {
    margin: 40px 160px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
textarea {
    font: inherit;
    font-size: 18px;
    padding: 16px;
    border-radius: 17px;
    outline: none;
    background-color: transparent;
    color: white;
    border: #203249 5px solid;
    transition: border 0.15s, box-shadow 0.15s;
}

input:focus,
textarea:focus {
    border: #dadada 5px solid;
    box-shadow: 0 0 5px white, 0 0 15px var(--lightblue),
        0 0 20px var(--lightblue), 0 0 24px var(--lightblue);
}

.section-content {
    margin: 40px 15%;
}

::placeholder {
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {
    color: white;
}

form button {
    align-self: flex-end;
}

button {
    text-transform: uppercase;
    color: white;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 5px solid #203249;
    transition: border-color 0.2s, box-shadow 0.2s;
}

button:hover {
    border-color: white;
    box-shadow: 0 0 5px white, 0 0 15px var(--lightblue),
        0 0 20px var(--lightblue);
}

#contact > .section-content {
    position: relative;
}

.sent-message {
    position: absolute;
    top: -50px;
    left: -40px;
    font-size: 24px;
    font-family: "Marck Script";
    word-spacing: -10px;
    text-shadow: 0 0 10px white, 0 0 20px var(--green), 0 0 40px var(--green),
        0 0 80px var(--green);
    border: 5px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 5px white, 0 0 15px var(--green), 0 0 20px var(--green),
        0 0 24px var(--green), inset 0 0 16px var(--green);
    transform: rotate(-10deg);
    opacity: 0;
    transition: opacity 0.5s;
}

@media (max-width: 800px) {
    .name-wrapper > h1 {
        font-size: 64px;
        line-height: 100%;
    }

    .name-wrapper > h2 {
        font-size: 24px;
        margin-top: 0;
    }

    .section-content {
        margin: 40px 20px;
    }

    .section-header {
        margin: 0;
        gap: 10px;
    }

    .section-header > h3 {
        font-size: 36px;
    }

    nav {
        font-size: 20px;
        padding: 8px 18px;
    }

    nav > ul > li:first-child {
        flex: 0 1 auto;
    }

    p {
        font-size: 20px;
    }

    #projects > .section-header > span {
        box-shadow: 0 0 5px white, 0 0 15px var(--green), 0 0 20px var(--green),
            inset 0 0 16px var(--green);
    }

    #about > .section-header > span {
        box-shadow: 0 0 5px white, 0 0 15px var(--pink), 0 0 20px var(--pink),
            inset 0 0 16px var(--pink);
    }

    #contact > .section-header > span {
        box-shadow: 0 0 5px white, 0 0 15px yellow, 0 0 20px yellow,
            inset 0 0 16px yellow;
    }
}
